<div class="d-flex justify-content-center align-self-center">
    <h3 class="box-title">Chat</h3>
</div>
<hr>
<div class="justify-content-center align-self-center">
    <fieldset>
        <p id="messageLogs"></p>
    </fieldset>
</div>
<hr>
<div class="form-group d-flex justify-content-center align-self-center">
    <input type="text" class="form-control" id="chatbox" aria-describedby="emailHelp" placeholder="Ingrese mensaje...">
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
