<h1>Crear un usuario</h1>

<div>
    <form action="http://localhost:3000/register" method="post">
        <input type="text" name="firstname" placeholder="Nombre"/>
        <input type="text" name="lastname" placeholder="Apellido"/>
        <input type="email" name="email" placeholder="Email"/>
        <input type="number" name="age" placeholder="Edad"/>
        <input type="password" name="password" placeholder="Password"/>
        <button type="submit">Registrarse</button>
    </form>
</div>
<br/>
<div>
    <a href="http://localhost:3000/login">
        <button>Iniciar sesion</button>
    </a>
</div>