<h1>Iniciar sesion</h1>

<div>
    <form action="http://localhost:8080/productsList/login" method="post">
        <input type="email" name="email" placeholder="Email"/>
        <input type="password" name="password" placeholder="Password"/>
        <button type="submit">Iniciar sesion</button>
    </form>
</div>
<br/>