<h1>Perfil</h1>
<div>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Edad</th>
        </tr>
        <tr>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{email}}</td>
            <td>{{age}}</td>
        </tr>
    </table>
</div>
<div>
    <a href="http://localhost:3000/logout">
        <button>Cerrar sesion</button>
    </a>
</div>